.whatsapp-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 14px 28px;
    background-color: #25D366;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    transition: 0.3s;
}

.whatsapp-btn:hover {
    opacity: 0.85;
}
